@font-face {
    font-family: 'Ivy Mode';
    src: url('../fonts/ivymode/IvyMode-Regular.woff2') format('woff2'),
        url('../fonts/ivymode/IvyMode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../fonts/ivymode/IvyMode-Light.woff2') format('woff2'),
        url('../fonts/ivymode/IvyMode-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../fonts/ivymode/IvyMode-SemiBold.woff2') format('woff2'),
        url('../fonts/ivymode/IvyMode-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../fonts/ivymode/IvyMode-Bold.woff2') format('woff2'),
        url('../fonts/ivymode/IvyMode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

