@font-face {
    font-family: 'SFU Futura';
    src: url('../fonts/sfufutura/SFUFuturaExtraBold.woff2') format('woff2'),
         url('../fonts/sfufutura/SFUFuturaExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../fonts/sfufutura/SFUFuturaBold.woff2') format('woff2'),
         url('../fonts/sfufutura/SFUFuturaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../fonts/sfufutura/SFUFuturaHeavy.woff2') format('woff2'),
         url('../fonts/sfufutura/SFUFuturaHeavy.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../fonts/sfufutura/SFUFuturaLight.woff2') format('woff2'),
         url('../fonts/sfufutura/SFUFuturaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../fonts/sfufutura/SFUFutura.woff2') format('woff2'),
         url('../fonts/sfufutura/SFUFutura.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}